@font-face {
    font-family: 'Futura Medium';
    src: url('fonts/Futura-Medium-01.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura Bold';
    src: url('fonts/Futura-Bold-03.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
:root {
    --black: #000000;
    --gris: #e8ebea;
    --amarillo: #f7c500;
    --naranja: #da6219;
    --futura-medium: 'Futura Medium', sans-serif;
    --futura-bold: 'Futura Bold', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
}
a {
    color: inherit;
    font: inherit;
    text-decoration: inherit;
}
.section-title {
  font-family: var(--futura-bold);
  color: var(--naranja);
  text-transform: uppercase;
  font-size: 2.5rem;
  padding: 24px;
}
/*  Hero  */
.hero {
    background-image: url("./images/bg-hero.jpg");
    height: 100vh;
    padding-top: 36px;
    background-position: center;
    background-size: cover;
}
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #333;
    color: aliceblue;
    font-family: var(--futura-medium);
    text-transform: uppercase;
}
header a:hover {
    color: var(--amarillo);
}

/* navbar */

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  padding-right: 20px;
}
.logo {
    height: 120px;
    width: auto;
}
nav {
    display: flex;
    flex-direction: row;
    gap: 2em;
}
.abrir-menu,
.cerrar-menu {
    display: none;
}
/*Hero main*/
.hero-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    padding: 20px;
    gap: 2em;
    text-transform: uppercase;
}
.hero-main h1 {
    color: var(--amarillo);
    font-family: var(--futura-bold);
    font-size: 4rem;
}
.hero-main p {
    color: white;
    font-family: var(--futura-medium);
    text-wrap: balance;
    width: 50%;
    text-align: center;
}
.hero-main a {
    background-color: var(--amarillo);
    color: var(--black);
    padding: 5px 64px;
    font-family: var(--futura-bold);
    font-size: 2rem;
}
.hero-main a:hover {
    transform: scale(1.1);
}
/****** Servicios ******/

.servicios-container {
    background-image: url("./images/bg-servicios.jpg");
    height: 95vh;
    background-position: center;
    background-size: cover;
    padding: 100px 200px;
}
.serv-box {
  width: 80%;
  padding: 0 4rem;
}

.serv-box p {
  font-family: var(--futura-medium);
  font-size: 14px;
  color: grey;
}
.serv-list-container {
  display: flex;
  flex-direction: row;
}
.box-vacia {
  width: 40%;
}
.serv-list-container ul {
  font-family: var(--futura-bold);
  text-transform: uppercase;
  list-style-position: inside;
  padding-top: 4rem;
}

/************* Instalaciones  ****************/
.carousel-section {
  text-align: center;
  padding: 20px;
  background-color: var(--gris);
}

.carousel-container {
  position: relative;
  width: 80%; /* El contenedor ocupa el 80% del ancho de la pantalla */
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Los botones se colocan fuera del contenedor de las imágenes */
}

.carousel-track-container {
  overflow: hidden;
  width: 100%;
  height: 550px;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
  gap: 1em;
  list-style-type: none;
}

.carousel-slide {
  min-width: 33%; /* Cada imagen ocupa el 33% del contenedor para mostrar 3 a la vez */
  height: 550px;
}

.carousel-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-control {
  position: relative;
  top: 50%;
  font-size: 4em;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1000;
  transform: translateY(-50%);
}

.carousel-control.prev {
  margin-right: 0.3em;
}

.carousel-control.next {
  margin-left: 0.3em;
}

/* Estilo para pantallas pequeñas */
@media (max-width: 600px) {
  .carousel-slide {
    min-width: 100%;
  }

  .carousel-control {
    padding: 5px;
  }
}
/*************** Planes y mensualidades*******************/

.planes-container {
  background-image: url("./images/bg-planes.png");
  height: 90vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.planes-info-container {
  display: flex;
  flex-direction: row;
  padding: 20px;
  font-family: var(--futura-medium);
  text-transform: uppercase;
}
.plan-info-card {
  background-color: var(--naranja);
  padding: 5px 90px;
  margin: 1em;
}
.plan-info-card-niños {
  background-color: #fff;
  padding: 5px 90px;
  margin: 1em;
}
.plan-title {
  font-size: 14px;
}
.plan-precio {
  font-size: 2.5em;
  font-family: var(--futura-bold);
}



.planes-cta {
  background-color: #ca283c;
  color: #fff;
  padding: 5px 64px;
  font-family: var(--futura-bold);
  font-size: 2rem;
  text-transform: uppercase;
}

/*************** Calendario y horario *******************/
.calendar-container {
  min-height: 90vh;
  background-color: var(--gris);
  width: 100%;
}
.calendar-header {
  width: 100%;
  background-image: url("./images/bg-header-calendar.png");
  background-position: right;
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4em;
}
.calendar-header img {
  height: 15em;
  padding-inline: 50px;
}
.calendar-info-header {
  display: flex;
  flex-direction: row;
}
.calendar-info-header h3 {
  color: var(--naranja);
  text-transform: uppercase;
  font-family: var(--futura-bold);
  font-size: 1.5em;
}
.header-horarios {
  display: flex;
  flex-direction: row;
  font-family: var(--futura-bold);
  text-wrap: balance;
  font-size: 1.3em;
}
/*     calendar grid    */
.calendario-container {
  padding: 50px;
}
.calendar-grid-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr); /* 8 columnas */
  grid-template-rows: repeat(11, 60px); /* 11 filas */
  gap: 1px; /* Espacio entre las celdas */
}
.time-header {
  color: var(--naranja);
  font-family: var(--futura-bold);
  text-transform: uppercase;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header {
  color: var(--naranja);
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time-slot, .day {
  font-family: var(--futura-medium);
  background-color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  font-size: 14px;
}

.time-slot {
  font-weight: bold;
  background-color: var(--gris);
}
.day {
  flex-direction: column;
}
.day p {
  font-weight: 600;
  text-transform: uppercase;
}
.day span {
  font-size: 14px;
}
.dia-doble-cont {
  display: flex;
  flex-direction: row;
  font-size: small;
  gap: 5px;
}
.dia-doble-borde {
  border-right: 2px solid black;
  padding-right: 5px;
}

/********* BLOG ************/
.blog-container {
  background-color: #0c0c0c;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
  padding: 50px;
}

.articles-cards-container {
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
  justify-content: center;

}
.article-card {
  width: 40%;
  height: 150px;
  display: flex;
  gap: 1em;
}
.article-img {
  height: 150px;
  width: 150px;
  background-position: center;
  background-size: cover;
}
.article-img1 {
  background-image: url("./images/foto1.png");
}
.article-img2 {
  background-image: url("./images/foto2.png");
}
.article-img3 {
  background-image: url("./images/foto3.png");
  background-position: 10px -10px;
}
.article-img4 {
  background-image: url("./images/foto4.png");
}
.article-info {
  font-family: var(--futura-medium);
  text-wrap: balance;
}
.article-info h4 {
  color: var(--naranja);
}
.article-info p {
  color: grey;
  font-size: 14px;
  font-weight: 100;
}
.article-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.article-info-container a {
  font-family: var(--futura-bold);
  background-color: var(--amarillo);
  color: #0c0c0c;
  padding: 5px 42px;
}

/****************  Contacto *****************/
.contact-container  {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  justify-content: center;
}
.contact-container::before  {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./images/bg-contacto.png");
  filter: blur(2px) brightness(110%); /* Aplica los filtros que desees */
  z-index: -1;
}
.contact-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.2em;
}
.form-container {
  padding: 20px;
  background-color: var(--amarillo);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  gap: 10px;
  font-family: var(--futura-medium);
  text-transform: uppercase;
  font-size: 12px;
}

.inputs-group {
  display: flex;
  flex-direction: column;
  flex: 1; /* Permite que los inputs ocupen el mismo ancho que el textarea */
}

input[type="text"], input[type="email"], input[type="tel"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  resize: none;
  height: calc(3 * 51px + 20px); /* Altura para coincidir con los 3 inputs */
}

button {
  padding: 12px;
  border: none;
  border-radius: 4px;
  background-color: #333;
  color: var(--amarillo);
  font-size: 1.2em;
  text-transform: uppercase;
  font-family: var(--futura-medium);
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #555;
}
.contact-info {
  font-family: var(--futura-medium);
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.info-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}
.info-item i {
  color: var(--amarillo);
  font-size: 3rem;
}
.info-detalle h4 {
  text-transform: uppercase;
}
/************************  footer ********************************/
footer {
  height: 300px;
  background-color: var(--amarillo);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
}
.company-info {
  display: flex;
  flex-direction: column;
  font-family: var(--futura-medium);
}
.company-info h4 {
  color: #36afe2;
  font-size: 1.2em;
}
footer img {
  height: 200px;
  width: auto;
}
.icons {
  display: flex;
  flex-direction: row;
  gap: 1em;
}
.icon-container {
  display: inline-flex; /* Centra el ícono dentro del contenedor */
  justify-content: center;
  align-items: center;
  width: 50px; /* Ancho y alto igual para hacer el borde circular */
  height: 50px;
  border: 3px solid #ffffff; /* Color y grosor del borde */
  border-radius: 50%; /* Hace que el borde sea circular */
}

.icon-container i {
  font-size: 24px; /* Tamaño del ícono */
  color: #ffffff; /* Color del ícono */
}






























/******************************************************************************************/
/*****************************************************************************************/
/************************  media queries ********************************/
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .logo {
    font-size: 1.5em;
  }

  /* hero main */
  /*Hero main*/

.hero-main h1 {
  font-size: 3rem;
}
.hero-main p {
  width: 80%;
  text-align: center;
}
.hero-main a {
  padding: 5px 54px;
  font-size: 1.5rem;
}
.hero-main a:hover {
  transform: scale(1.1);
}
/****** Servicios ******/

.servicios-container {

  width: 100%;
  background-position: center;
  background-size: cover;
  padding: 20;
}
.serv-box {
width: 80%;
padding: 0 4rem;
}

.serv-box p {
font-family: var(--futura-medium);
font-size: 14px;
color: grey;
}
.serv-list-container {
display: flex;
flex-direction: row;
}
.box-vacia {
width: 40%;
}
.serv-list-container ul {
font-family: var(--futura-bold);
text-transform: uppercase;
list-style-position: inside;
padding-top: 4rem;
}

}

@media screen and (max-width: 780px) {
  header {
    padding-inline: 20px;
    justify-content: space-between;
  }
  .abrir-menu,
  .cerrar-menu {
    display: block;
    border: 0;
    font-size: 2rem;
    background-color: transparent;
    cursor: pointer;
    color: antiquewhite;
  }

  .nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--clr-background);
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  }

  .nav.visible {
    opacity: 1;
    visibility: visible;
    background-color: var(--naranja);
  }

  .nav-list {
    flex-direction: column;
    align-items: end;
    padding-right: 0;
  }

  .nav-list li a {
    color: black;
  }
}


  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    header {
      padding-left: 50px;
    }
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
  }
